{% extends "layout.html" %}
{% block body %}
<!-- Main Page Content and Sidebar -->
<div id="main" class="container">

 	<h2><img src="static/blogbox_logo4.png" height=23 width=23> BlogBox Terms and Conditions</h2>
	<p> Terms and Conditions are boring. We tried to keep them short and easy to understand. So enjoy the BlogBox service and don't do anything bad! By signing up to BlogBox you agree to these terms and conditions.
	<p><b>1. Our Service to you is to provide the tools to create a blog from Dropbox!</b>  We aim to provide 24/7 uptime but we don't guarantee 100%. Other than each blog post being a maximum of 10MB,we don't have any hard limits with regards to bandwidth or storage space, but we operate on a fair usage policy. This means we may need to review if it becomes uneconomical to host some extremely popular sites - see <a href="https://en.wikipedia.org/wiki/Slashdot_effect">slashdot effect</a>! We don't anticipate this being a problem for the majority of users if you are expecting less than 10,000 hits per month. </p>
	<p><b>2. BlogBox can not be held liable</b> for any losses or legal action from anything you post on your blog, or arising from you blog being temporarily unavailable. </p>
	<p><b>3. Blogs with unacceptable content will be removed</b> and accounts cancelled without warning. Unacceptable use refers to any unlawful, illegal or inappropriate, including but not exclusively, violent, criminal, pornographic, copyright infringing material. Please notify us if you find any BlogBox sites with contents of this nature.
	</p>
    </div>
	 	     

<!-- End Main Content -->  
{% endblock %}